.warp{
    margin-top:0.38rem ;
   
    font-size: 0.30rem;
    line-height: 0.94rem;    
}
.itema{
    overflow: hidden;
    padding-left: 0.38rem;
    padding-right: 0.38rem;
}
.itema:active{
    background: #eae7e7;
}
.itemb{
    float: left;
}
.itemc{
    float: right;
}
.itemba{
    background: #f3f3f3;
}
.zitia{
font-size: 0.52rem;
padding-top: 1.2rem;
color: #3bb32d; 
}
.zitib{
    font-size: 0.52rem;
  
    line-height: 1.2rem;    
    color: #00a8f1;
}

.zhifua{
    float: right;
    padding-left: 0.4rem;
   
}
.zhifub{
    float: right;
    padding-top: 0.12rem;
    padding-left: 0.4rem;
}
/*  */
.diana{
    position: relative;
}
.dingwei{
    position: absolute;
    top: 0.12rem;
    right: 0;
}

/* huakuai */
.switch {
    width: 0.78rem;
    height: 0.46rem;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 0.23rem;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}
.switch:before {
    content: '';
    width: 0.46rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.23rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
}
.switch:checked:before {
    left: 0.3rem;
}
.switch.switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.switch.switch-anim:before {
    transition: left 0.3s;
}
.switch.switch-anim:checked {
    box-shadow: #64bd63 0 0 0 0.16rem inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.switch.switch-anim:checked:before {
    transition: left 0.3s;
}
/* anniu */
label {                 /*设置label的样式*/
    width: 100%;
    padding: 0.1rem 0;
    display: block;
    line-height: 0.2rem;
    position: relative;
    font-weight: normal;
}
.radio .option {      /*把优化后的按钮图片设置为该div的背景图片，把该div定位到原生样式的上方，遮盖住原生样式。*/
    width: 0.4rem;
    height:0.4rem;
    position: absolute;
    top: 0.1rem;
    left: 0;
    background-size: cover;
    background: url(../../../../assets/img/a.png) no-repeat;
    background-size: cover;
}
.radio input[type="radio"] {  /*为了保险起见，把原生样式隐藏掉*/
    display: inline-block ;
    margin-right: 0.15rem ;
    opacity: 0 ;
}
input[type="radio"]:checked+div {  /*当radiuo被选中时，把input下边的div标签的背景图片替换掉*/
    background: url(../../../../assets/img/b.png) no-repeat;
    background-size: cover;
}
.diangw{
    position: relative;
}

.dingweiwe{
    position: absolute;
    right: 0.3rem;
    top:0.3rem;
}
/*  */
/* btn */
.btn{
    position: fixed;
    bottom: 0.2rem;
    left: 0;
    right: 0;
    margin: auto;
}
.btn p{
    width: 92vw;
    height: 0.7rem;
    font-size:0.3rem;
    font-weight:600;
    margin: 0 auto;
    text-align: center;
    background: #7ed23e;
    color: #ffffff;
    line-height: 0.7rem;
    border-radius:0.1rem;
}
.btn p:active{
    background: #58ad17;
}