.tabh{
    padding-top: 0.02rem; 
    padding-bottom: 0.04rem; 
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    overflow: hidden;
 }
 .mint-tab-item{
     margin-left:0.4rem;
     margin-right: 0.4rem; 
 }

.mint-navbar .mint-tab-item.is-selected{
    border-bottom: 3px solid #7dd23d;
    color: black;
    margin-bottom: -3px;
}
.yijianhuifu{
    width: 92vw;
  
    font-size: 0.28rem;
    
    margin: 0.5rem auto 0.1rem; 
    
    color: #333333;
    border-radius: 0.04rem;
   box-shadow: 0 0 6px #888888;  
}
.yijianhuifua{
   
    margin-left: 0.21rem;
    margin-right: 0.21rem;
    position: relative;
}
.yijianhuifu p:nth-child(1){
    font-size: 0.32rem;
   
    font-weight:600;
    line-height: 0.45rem;
    padding-top: 0.07rem;
    padding-bottom: 0.28rem;
}
.yijianhuifu p:nth-child(2){
   
    font-weight:400;
    line-height: 0.4rem;
    padding-bottom: 0.3rem;
}
.yijianhuifu p:nth-child(3){
   
    font-weight:400;
    line-height: 0.4rem;
    padding-bottom: 0.3rem;
}
.yijianhuifu p:nth-child(4){
   color: #000000;
    font-weight:400;
    line-height: 0.6rem;
}
.ziti{
    position: absolute;
    font-size: 0.4rem;
    top: 0.64rem;
    right: 0.4rem;
}