

/* 11111 */
.daifukuan{
    width: 92vw;
    margin: 0.2rem auto;
    box-shadow: 0 1px 10px #a4a4a4;
    border-radius:0.06rem; 
}
.daifukuan_tit{
    font-size: 0.28rem;
    line-height: 0.8rem;
    text-indent: 0.2rem;
}
.daifukuan_tit i{
    
    font-size: 0.32rem;
    line-height: 0.4rem;
    vertical-align:middle;
}
.daifukuan_tit span{
    display: inline-block;
    margin-top: -0.1rem;
    vertical-align:middle;
}
.daifukuan_tit p{
    font-size: 0.24rem;
    float: right;
    padding-right:0.2rem; 
    color: #FF5252;
}
.daifukuan_im ul{
    display: -webkit-box;
    overflow-x: scroll;
    overflow-y: hidden;
}
.daifukuan_im ul::-webkit-scrollbar {
    display: none;
}

.daifukuan_ima {
    width: 1.2rem;
    height:1.2rem;
    padding-left: 0.1rem;
}
.daifukuan_jieshuan span{
    font-size: 0.24rem;
}
.daifukuan_jieshuan{
overflow: hidden;
color: #333333;
line-height: 0.6rem;    
}
.daifukuan_jieshuan span{
    float: right;
}
.daifukuan_jieshuan span em{
   font-style: normal;
   font-size: 0.3rem;
   padding-right:0.2rem;
   font-weight: 600; 
}

.wapre{
    position: fixed;
    font-size: 0.28rem; 
    bottom: 0;
    width: 100vw;
    
    height: 0.98rem;
    
    box-shadow: -1px -1px 10px #888888;
    background: #ffffff;
}
.wapre p:nth-child(1){
    float: left;
    line-height: 0.98rem;
    text-indent: 0.2rem;
}
.wapre p:nth-child(1) span{
    color: #ff5252;
}
.wapre p:nth-child(2){
    width: 1.62rem;
    height:0.65rem;
    float: left;
    text-align: center;
    line-height: 0.65rem;
   margin-top: 0.2rem;
    border: 1px solid #b3b3b3;
    border-radius:0.1rem; 
    margin-left: 0.2rem;
}
.wapre p:nth-child(3){
    width: 1.46rem;
    height:0.66rem;
    height:0.65rem;
    text-align: center;
    line-height: 0.65rem;
    margin-top: 0.2rem;
    border-radius:0.1rem; 
    float: left;
   background: #ffaf00;
   color: #ffffff;
   margin-left: 0.2rem;
  
}
.btn_a{
    font-size: 0.28rem;
    overflow: hidden;
}
.btn_a div:nth-child(1) p{ 
width: 1.85rem;
height: 0.65rem;
line-height: 0.65rem;
text-align: center;
float: right;
background: #ffaf00;
color: #ffffff;
border-radius:0.08rem;
margin: 0.1rem; 
}
.btn_a div:nth-child(2) p{
width: 1.85rem;
height: 0.65rem;
line-height: 0.65rem;
border: 1px solid #b3b3b3;
float: right;
text-align: center;
border-radius:0.08rem;
margin: 0.1rem; 
}

.warp{
    width: 92vw;
   margin: 0 auto;
    line-height: 0.6rem;
   font-size: 0.24rem;
   color: #999999;
   box-shadow: 0 1px 10px #a4a4a4;
   border-radius:0.06rem; 
   padding: 0.2rem;
   box-sizing: border-box;
}
.warpa input{
    width: 4.2rem;
    border-bottom: 1px solid #b3b3b3;
}
.warpb input{
    width: 4.2rem;
    border-bottom: 1px solid #b3b3b3;
}
/* 111 */
.btn{
    position: fixed;
    bottom: 0.2rem;
    left: 0;
    right: 0;
    margin: auto;
}
.btn p{
    width: 92vw;
    height: 0.7rem;
    font-size:0.26rem;
    font-weight:600;
    margin: 0 auto;
    text-align: center;
    background: #7ed23e;
    color: #ffffff;
    line-height: 0.7rem;
    border-radius:0.2rem;
}
.btn p:active{
    background: #58ad17;
}
