.tabheader{
    width: 100vw;
    height: 0.8rem;
    
    text-align: center;
    position: relative;
    box-shadow:0 0 5px #4a4a4a87;
    }
.tabheader_con{
        font-size: 0.32rem;
        line-height: 0.8rem;
        width: 3rem;
       
       position: absolute;
       top: 0;
       right: 0;
       left: 0;
       bottom: 0;
       margin: 0 auto;

    }
.tabheader_del{
        font-size: 0.24rem;
        line-height: 0.8rem;
        
        color: #163300;
        position: absolute;
        top: 0;
        right: 0.3rem;
    }
.tabheader_del i{
    font-size: 0.48rem;
}   
.tabheader_fanhui{
    line-height: 0.4rem;
    position: absolute;
    top: 0;
    left: 0.2rem;
}
.tabheader_fanhui i{
    font-size: 0.48rem;
}   
/*  */
.wapra{
    width: 92vw;
    height: 0.86rem;
    margin:0 auto;
    background: #7dd23d;
    text-align: left;
    text-indent: 0.57rem;
    line-height:0.34rem;
    margin-top:0.2rem;
    border-radius:0.08rem;
    box-shadow: 0 0 5px #999999;
}
.wapra span{
    font-size: 0.32rem;
   
    font-weight:600;
    color: aliceblue;
}
.waprb{
    width: 92vw;
    margin: 0 auto;
    box-shadow: 0 0 5px #999999;
    margin-top: 0.2rem;
    text-indent: 0.2rem;
    border-radius:0.08rem;
    padding-left: 0.2rem;
    padding-right:0.2rem;
    box-sizing: border-box;
} 
.waprb p:nth-child(1){
    font-size: 0.32rem;
    line-height: 0.8rem;
}
.waprb p:nth-child(2){
    font-size: 0.28rem;
    color: #999999;
    line-height: 0.4rem;
    padding-bottom: 0.2rem;
}
.waprc{
    width: 92vw;
    margin: 0 auto;
    box-shadow: 0 0 5px #999999;
    margin-top: 0.2rem;
    text-indent: 0.2rem;
    border-radius:0.08rem;
    padding-left: 0.2rem;
    padding-right:0.2rem;
    box-sizing: border-box;
    font-size:0.28rem;
    overflow: hidden;
    line-height: 0.78rem;
}
.waprc p:nth-child(1){
float: left;
}
.waprc p:nth-child(2){
    float: right;
    color: #999999;
}
.waprd{
    width: 92vw;
    margin: 0 auto;
    box-shadow: 0 0 5px #999999;
    margin-top: 0.2rem;
    text-indent: 0.2rem;
    border-radius:0.08rem;
    padding-left: 0.2rem;
    padding-right:0.2rem;
    box-sizing: border-box;
    font-size: 0.24rem;
    color: #999999;
    line-height: 0.46rem;
    padding-top:0.2rem;
    padding-bottom: 0.2rem; 
}

/* 11111 */
.daifukuan{
    width: 92vw;
    margin: 0.2rem auto;
    box-shadow: 0 1px 10px #a4a4a4;
    border-radius:0.06rem; 
   
    
}
.daifukuan_tit{
    font-size: 0.28rem;
    line-height: 0.8rem;
    text-indent: 0.2rem;
}
.daifukuan_tit i{
    
    font-size: 0.32rem;
    line-height: 0.4rem;
    vertical-align:middle;
}
.daifukuan_tit span{
    display: inline-block;
    margin-top: -0.1rem;
    vertical-align:middle;
}
.daifukuan_tit p{
    font-size: 0.24rem;
    float: right;
    padding-right:0.2rem; 
    color: #FF5252;
}
.daifukuan_im ul{
    display: -webkit-box;
    overflow-x: scroll;
    overflow-y: hidden;
}
.daifukuan_im ul::-webkit-scrollbar {
    display: none;
}

.daifukuan_ima {
    width: 1.2rem;
    height:1.2rem;
    padding-left: 0.1rem;
}
.daifukuan_jieshuan span{
    font-size: 0.24rem;
}
.daifukuan_jieshuan{
overflow: hidden;
color: #333333;
line-height: 0.6rem;    
}
.daifukuan_jieshuan span{
    float: right;
}
.daifukuan_jieshuan span em{
   font-style: normal;
   font-size: 0.3rem;
   padding-right:0.2rem;
   font-weight: 600; 
}

.wapre{
    position: fixed;
    font-size: 0.28rem; 
    bottom: 0;
    width: 100vw;
    
    height: 0.98rem;
    
    box-shadow: -1px -1px 10px #888888;
    background: #ffffff;
}
.wapre p:nth-child(1){
   width: 1.81rem;
   height: 0.64rem;
   text-align: center;
   line-height: 0.64rem;
   float: right;
   background: #FFAF00;
   margin-top: 0.2rem;
   margin-right: 0.2rem;
   border-radius: 0.1rem;
   color:#ffffff;
}

.wapre p:nth-child(2){
    width: 1.81rem;
   height: 0.64rem;
   line-height: 0.64rem;
   float: right;
   text-align: center;
   border-radius: 0.1rem;
   margin-top: 0.2rem;
   margin-right: 0.2rem;
   border: 1px solid #a4a4a4;
   box-sizing: border-box;
}
.yansea{
color:#999999;
}
.yanseb{
color: cornflowerblue;
}
