
.miaosh-he{
    width: 100vw;
    height: 0.72rem;
    background: #ff6766;
    color: #ffffff;
    line-height: 0.72rem;
    font-size: 0.24rem;
    padding-left: 0.2rem;
    box-sizing:border-box; 
    position: relative; 
}
.miaosh_her{
    display: inline-block;
    margin-left: 2.8rem;
}
.shijian{
    width:2rem;
    height:0.36rem ;
    
    position: absolute;
    right: 0.2rem;
    top: 0.16rem;
    line-height: 0.42rem;

}
.shijiana{
    display: inline-block;
    width: 0.52rem;
    height:0.36rem ;
    background: #ffffff;
    color: #ff6766;
    text-align: center;
    border-radius: 0.06rem;
}
.cara{
    width: 100vw;
    height: 2.2rem;
    box-sizing:border-box;
    margin: 0.4rem 0.3rem  0.4rem; 
}
.carim li img{
    width: 1.72rem;
    height: 1.72rem;
   
    
}
.cara_miaoa{
    font-size: 0.28rem;
    padding-bottom:0.44rem;
    width: 65vw; 
}
.cara_miaob{
    font-size: 0.2rem;
}
.carim li:nth-child(1){
    float: left;
}
.carim li:nth-child(2){
    float: left;
}
.cara_miao{
    margin-left: 0.3rem;
}
.cara_jia{
    font-size: 0.32rem;
    font-weight: 600;
    color:#fd342d;
    line-height: 0.45rem;
}
.ziti{
    float: right;
    color: #fca74c;
    font-size: 0.40rem;
    margin-top: 0.55rem;
}