.one_se{
    width: 100vw;
    height: 2.87rem;
    box-sizing: border-box;
    padding-top: 0.4rem;  
   background: linear-gradient(#f5a826, #fbd690);
}
.one_se_warp{
    width: 89vw;
    height: 2.1rem;
   
    margin: 0 auto;
   
}
.one_se_tab{
    width: 89vw;
   
    font-size: 0.3rem;
    overflow: hidden;
   position: relative;
}
.one_se_tab img{
    width: 89vw;
    height: 0.6rem;
    margin-bottom: -0.04rem;
}
.one_se_taba{
float: left;
width: 50%;
height: 0.6rem;

text-align: center;

box-sizing: border-box;
position: absolute;
top: 0;
left:0;
}
.one_se_tabb{
float: left;
width: 50%;
text-align: center;
height: 0.6rem;
line-height: 0.57rem;

box-sizing: border-box;
position: absolute;
top: 0;
right: 0;
}
.dibuone{
    font-size: 0.36rem;
    height: 1.5rem;
    background: #ffffff;
   line-height: 1.5rem;
   margin-right:-0.1rem;
   text-indent: 0.4rem;
   color: #9B9B9B;
}
.dibuone i{
    float: right;
    padding-right: 0.4rem;
}
.dibuoneb{
   
    height: 1.5rem;
    background: #ffffff;
    
   margin-right:-0.1rem;
  
   color: #9B9B9B;
}
.dibuoneb span{
font-size: 0.26rem;
display: inline-block;
width: 4.4rem;
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;


}
.dibuoneb i:nth-child(1){
    padding-left: 0.4rem;
    color: #5BB54D;
   
}
.dibuoneb i:nth-child(3){
   line-height: 1.5rem;
    
    float: right;
   padding-right: 0.4rem;
}

.dibuonec {
    
    height: 1.5rem;
    background: #ffffff;
   margin-left:-0.1rem;
  
}
.dibuonec_img{
    height: 1.5rem;
    width:0.88rem;
   
    float: left;
    margin-left: 0.74rem;
}
.dibuonec_img img{
    width: 0.88rem;
    height: 0.88rem;
    border-radius:0.02rem;
    margin-top: 0.34rem; 
}
.dibuonec span{

}
.dibuonec_con{
    height: 1.5rem;
    width:4rem;
    
    float: left;
    text-indent: 0.3rem;
}
.dibuonec_con p:nth-child(1){
    line-height: 0.9rem;
    font-size: 0.36rem;
}
.dibuonec_con p:nth-child(2){
    line-height: 0.45rem;
    font-size: 0.24rem;
    color: #9B9B9B;
}









.one_img_oul{
    width: 3.2rem;
    height: 1rem;
    display: -webkit-box;
    overflow-x: scroll;
    overflow-y: hidden;
}
.one_img_oul::-webkit-scrollbar {
    display: none;
}

.one_img img{
    width: 1rem;
    height: 1rem;
    padding-left:0.05rem;
    padding-right: 0.05rem; 
}

.one_right span{
font-size: 0.28rem;
vertical-align: middle;
}
.one_left{
    float: left;
    vertical-align: middle;
}
.one_right{
    float: right;
    vertical-align: middle;
   
}
.one_right i{
    font-size: 0.42rem;
    vertical-align: middle;
}
.warp{
    width: 94vw;
   margin: 0 auto;
   
}
.item{
    margin: 0.1rem 0;
    overflow: hidden;
}
.one_lefta{
    font-size: 0.28rem;
    margin-top: 0.5rem;
}
.one_rightb{
    color: #9B9B9B;
   
}
.itema{
    overflow: hidden;
    height: 0.8rem;
}
.three_bo{
    width: 100vw;
    position: fixed;
    bottom: 0;
}
.qison{
    font-size: 0.3rem;
    background: #f9c879;
    color: #ffffff;
    text-align: center;
    line-height: 0.8rem;
}
.sfukuan{
    font-size: 0.3rem; 
    text-align: right;
    line-height: 0.9rem; 
   
}
.sfukuan span:nth-child(2){
    color: #f9c879;
}
.btna{
    display: inline-block;
  width: 1.84rem;
  height: 0.65rem;
  text-align: center;
  line-height: 0.65rem;
  color: #ffffff;
  font-weight: 600;
  border-radius:0.08rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.yaseaa{
    background:#f9c879;
}
.yaseab{
    background:#cccccc;
}
.warpa{
    width: 86vw;
    border-radius:0.2rem; 
}
.one_ssa{
    margin: 0 0.4rem;
    border-bottom: 1px solid #c3b4b438;
}
.one_ssa span{
    font-size: 0.28rem;
    line-height: 1.2rem;
}
.one_ssa i{
    font-size: 0.36rem;
   float: right;
   line-height: 1.2rem;
}
.one_ssb{
    margin: 0 0.4rem;
    padding-bottom:0.4rem; 
}
.one_ssba i{
    color:#5BB54D;
}
.one_ssbb i{
    color:#4A90E2;
}
.one_ssba{
   
    position: relative;
}
.one_ssbb{
    
    position: relative;
}
/* anniu */
label {                 /*设置label的样式*/
    width: 100%;
    padding: 0.1rem 0;
    display: block;
    line-height: 0.2rem;
    position: relative;
    font-weight: normal;
}
.radio .option {      /*把优化后的按钮图片设置为该div的背景图片，把该div定位到原生样式的上方，遮盖住原生样式。*/
    width: 0.4rem;
    height:0.4rem;
    position: absolute;
    top: 0.1rem;
    left: 0;
    background-size: cover;
    background: url(../../../assets/img/a.png) no-repeat;
    background-size: cover;
}
.radio input[type="radio"] {  /*为了保险起见，把原生样式隐藏掉*/
    display: inline-block ;
    margin-right: 0.15rem ;
    opacity: 0 ;
}
input[type="radio"]:checked+div {  /*当radiuo被选中时，把input下边的div标签的背景图片替换掉*/
    background: url(../../../assets/img/b.png) no-repeat;
    background-size: cover;
}
.diangw{
    position: relative;
}

.dingweiwe{
    position: absolute;
    right: 0.3rem;
    top:0.3rem;
}
/*  */