
.kimg{
    width:6.6rem;
    height:2.9rem;
}

.lunbo{
    width:6.6rem;
    height:2.9rem;
    margin: 0.36rem auto;
    box-shadow:0rem 0.2rem 0.2rem #aaaaaa;
}

/* gousu */
.proa{
    width: 88vw;
    height: 2.2rem;
    margin: 0 auto;
   
}
.proaoul{
    
    overflow: hidden;
}
.proaoula{
    width: 1.8rem;
    float: left;

}
.proaoulb{
   width: 58vw;
    float: left;
    margin-left: 0.3rem;

}
.proaomg{
    width: 1.8rem;
    height:1.6rem;
    margin: 0.3rem 0;
}

.proatit{
    font-size: 0.28rem;
    line-height:0.88rem;
    color:#333333; 
    
}
.proatit span{
    font-weight:400;
}
.proayishou{
    font-size: 0.24rem;
    line-height:0.46rem;
    color:#333333; 
}
.proaqian{
    font-size: 0.32rem;
    line-height:0.8rem;
   
}
.proaqian span{
    color: #FA302E;
    font-weight:600;
}
.ziti{
    font-size: 0.36rem;
    line-height:0.8rem;
    color: #ffa44d;
    float: right;
}