bg{
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
   
}
.tabh{
   padding-top: 0.02rem; 
   padding-bottom: 0.04rem; 
   border-bottom: 1px solid #c4c4c4;
   border-top: 1px solid #c4c4c4;
   overflow: hidden;
}
.mint-tab-item{
    margin-left:0.4rem;
    margin-right: 0.4rem; 
}
.mint-navbar .mint-tab-item.is-selected{
    border-bottom: 3px solid #f7a525;
    color: black;
    margin-bottom: -3px;
}
/* 111111111111111111 */
.youhuijuan{
    width:95vw;
    height: 2rem;
    margin: 0.1rem auto;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}
  
.banyuana{
    width: 0.52rem;
    height: 0.52rem;
    position: absolute;
    background: #ffffff;
    border-radius:0.26rem;
    top: 0.8rem;
    left: -0.28rem; 
}
.banyuanb{
    width: 0.52rem;
    height: 0.52rem;
    position: absolute;
    background: #ffffff;
    border-radius:0.26rem;
    top: 0.8rem;
    right: -0.28rem;  
}
/* ------------------------------------------- */
.banyuanbc{
    position: absolute;
    width: 0.52rem;
    height: 0.52rem;
    
    top:-0.2rem;
    color: #71b116;
    right: 2.1rem;
}
.banyuanbc i{
    font-size: 2.4rem;
}
/* ------------------------------------------- */
.banyuanbd{
    position: absolute;
    width: 0.52rem;
    height: 0.52rem;
  
    top:-0.2rem;
    color: #ff4f58b8;
    right: 2.5rem;
}
.banyuanbd i{
    font-size: 2.4rem;
}
/* ------------------------------------------- */
.youhuijuannei{
    margin-top:0.38rem ;
    margin-bottom: 0.2rem;
    margin-right:0.2rem;
    margin-left: 0.3rem ;
    overflow: hidden;
}
.youhuijuanmianzhi{
    font-size: 0.6rem;
}
.youhuijuanbtn{
    width: 1.24rem;
    height:0.4rem;
    font-size: 0.22rem;
    line-height: 0.4rem;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 0.2rem;
    margin-top: 0.26rem;
    margin-left: 0.05rem;
}
.youhuijuanneifenge{
    width: 1.6rem;
    float: left;
    border-right:2px  dashed #ffffff;
    padding-left: 0.4rem;
    padding-right:0.4rem; 
}
.youhuijuanmainshua{
padding-top:0.1rem;     
font-size: 0.24rem;
padding-bottom:0.22rem; 
}
.youhuijuanmainshub{
font-size: 0.12rem;
padding-bottom:0.2rem;   
}  
.flra{
    width:3.4rem;
    float: right;
} 
.ynsea{
    background:linear-gradient(270deg,rgba(250,217,97,1) 0%,rgba(244,159,38,1) 100%); 
}
.ynseb{
 background:rgba(216,216,216,1);
}
.tabcon{
  
  margin-top: 0.4rem;  
}