.serash{
    width: 86vw;
    height: 0.82rem;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid #000000; */
    margin-top:-0.4rem; 
}
.dingwei{
   
    overflow: hidden;
    height: 0.82rem;
    position: fixed;
    background: #ffffff;
    width: 100vw;
    z-index: 100;
}
.serash input{
    width: 5.8rem;
    height:0.5rem ;
    font-size: 0.24rem; 
    text-indent: 0.3rem;
    background: #eeeeee;
    border-radius:0.25rem; 
    margin-top: -2rem;
    margin-left: 0.4rem;
     
}
.liebiao{
    background: #eeeeee;
    width: 1.6rem;
    height:12.8rem ;
    position:fixed;
    left: 0;
    top:0.83rem ;
    font-size: 0.24rem;
    line-height: 0.92rem;
    text-align: center;
   
}
.shju{
    width: 76.5%; 
    position: absolute;
    top:0.83rem;
    right: 0;
    z-index: 20;
    
    
}
.shjutu img{
    width:5.72rem;
    height:1.55rem;
}

.slide-box{
    background: #f4f4f4;
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
   
}
.slide-box::-webkit-scrollbar{
display:none;
}
.slide-item{
    font-size: 0.22rem;
    padding-left: 0.38rem;
    padding-right:0.38rem;
    line-height: 0.48rem;
}
/*  */

.proaoul{
    
    overflow: hidden;
}
.proaoula img{
    width: 1.6rem;
    height: 1.6rem;
    float: left;

}
.proaoulb{
    width:3.6rem;   
    float: left;
    margin-left: 0.2rem;

}
.proaomg{
    width: 1.6rem;
    height:1.4rem;
    margin: 0.2rem 0;
}

.proatit{
    font-size: 0.28rem;
    line-height:0.74rem;
    color:#333333; 
    
}
.proatit span{
    font-weight:400;
}
.proayishou{
    font-size: 0.24rem;
    line-height:0.6rem;
    color:#9B9B9B; 
}
.proaqian{
    font-size: 0.26rem;
    line-height:0.6rem;
   
}
.proaqian span{
    color: #FA302E;
    font-weight:600;
}
.ziti{
    float: right;
    font-size: 0.3rem;
    line-height:0.6rem;
    color: #ffa44d;
   
}
.red{
    color: #ffa44d;
}