.warp{
   
    height: 100vh;
    background: #f5f5f58a;
 
}

.itm{
    line-height: 1.02rem;
    overflow: hidden;
    
    
}
.shangbu{
    padding-top: 0.3rem;
}
.list{
    overflow: hidden;
    background: #ffffff;
    box-shadow:0 0 5px rgb(219, 207, 207) ;
}
.itm span:nth-child(1){
    font-size: 0.28rem;
    float: left;
    margin-left: 0.38rem;
    color: #333333;
}
.itm i:nth-child(2){
    float: right;
    font-size: 0.38rem;
    margin-right: 0.3rem;
    color: #b6b6b6;
}
.itm:active {
    background: #f5f5f58a;
}


.btn{
    position: fixed;
    bottom: 0.2rem;
    left: 0;
    right: 0;
    margin: auto;
}
.btn p:active{
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #cccccc;
}
.btn p{
    width: 92vw;
    height: 0.7rem;
    font-size:0.26rem;
    font-weight:600;
    margin: 0 auto;
    text-align: center;
   border: 1px solid #b6b6b6;
    color: #b6b6b6;
    line-height: 0.7rem;
    border-radius:0.2rem;
}
.dingwei{
    position: relative;
}
.huancun{
    font-size: 0.28rem;
    
    position: absolute;
    right: 0.8rem;
}
.huancun span:nth-child(1){
    color: #b6b6b6;
}